
@{
    ViewBag.Title = "Index";
}

@if (User.Identity.IsAuthenticated)
{
    <h2>Bienvenido</h2>
    <p> Para utilizar la aplicación es necesario usar el menú de navegación </p>
}
else
{
    <h2>Inicio</h2>
    <p> Para utilizar la aplicación es necesario iniciar sesión </p>
}



